{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/css/reset.css' %}">
{% endblock %}
{% block title %}
<title>Password Change Sucessfully</title>
{% endblock %}
            {% block content %}
            <section class="container-main">
                <article class="sub-container">
                    <h1 class="">Password Reset Sucessfull</h1>
                    <p>Your Password Has Been Sucessfully Changed You Can <a href="{% url 'login' %}">Login</a> Now.</p>
                </article> 
            </section>
            {% endblock %}