{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
{% endblock %}
{% block title %}
<title>Reset Password</title>
{% endblock %}
            {% block content %}
            <section>
                <article class="form-container">

                    <form action="" method="POST" class="form-main-container">
                        <h1 class="form-title">Reset Password</h1>
                        {% csrf_token %}
                        <p class="login-username"><label for="New Password">New Password</label></p>
                        <p class="login-username form-input">{{form.new_password1}}</p>
                        <p class="login-password"><label for="Confirm Password">Confirm Password</label></p>
                        <p class="login-password form-input">{{form.new_password2}}</p>
                        <div style="grid-area: button; display: flex; justify-content: space-around;">
                            <input type="submit" value="Change Password" class="button-small">
                            <input type="button" value="Cancel" class="button-small">
                        </div>
                            {% if form.error %}
                            <p class="error-mssg">
                            Both Password Dont Match Please Try Again
                            </p>
                            {% else %}
                            <p class="subtitle-text">Please Enter Your Password Twice For Secuurity Reasons.</p>
                            {% endif %}
                        
                    </form>
                </article>

            </section>
            {% endblock %}