{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/css/reset.css' %}">
{% endblock %}
{% block title %}
<title>Email Sent!</title>
{% endblock %}
            {% block content %}
            <section class="container-main">
                <article class="sub-container">
                    <h1 class="">Reset Your Password</h1>
                    <p>We've emailed you instructions for setting your password.</p>
                    <p>If you don't receive an email, please make sure you've entered
                        the address you registered with</p>
                </article> 
            </section>
            {% endblock %}