{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/css/reset.css' %}">
{% endblock %}
{% block title %}
<title>Change Password</title>
{% endblock %}
            {% block content %}
            <section>
                <article class="form-container">
                    <h1>Forgot Your Password ?</h1>
                    <p>Enter Your E-mail Address To Obtain New Password.</p>
                    <form action="" method="POST" class="reset-form">
                        {% csrf_token %}
                        <p class="form-email-label">{{ form.email.label }}</p>
                        <p style="width: 100%; grid-area: email2; height: 25px;">{{ form.email }}</p>
                        <input type="submit" value="Find Account" class="">
                    </form>
                </article>

            </section>
            {% endblock %}