{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/css/reset.css' %}">
{% endblock %}
{% block title %}
<title>Password Changed</title>
{% endblock %}
            {% block content %}
            <section class="container-main">
                <article class="sub-container">
                    <h1 class="">Password Changed.</h1>
                    <p>Your Password Wass Sucessfully Changed. Please Remember To Login With The New Password.</p>
                    <p><a href="{% url 'home' %}">Clich Here</a> To Go  Back To Home Page.</p>
                </article> 
            </section>
            {% endblock %}