{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
{% endblock %}
{% block title %}
<title>Change Password</title>
{% endblock %}
            {% block content %}
            <section>
                <article class="form-container">

                    <form action="" method="POST" class="form-main-container">
                        <h1 class="form-title">Change Password</h1>
                       
                        {% csrf_token %}
                        <p class="login-oldpass"><label for="New Password">Old Password</label></p>
                        <p class="login-oldpass form-input">{{form.old_password}}</p>
                        <p class="login-username"><label for="New Password">New Password</label></p>
                        <p class="login-username form-input">{{form.new_password1}}</p>
                        <p class="login-password"><label for="Confirm Password">Confirm Password</label></p>
                        <p class="login-password form-input">{{form.new_password2}}</p>
                        <div style="grid-area: button; display: flex; justify-content: space-around;">
                            <input type="submit" value="Change Password" class="button-small">
                            <input type="button" value="Cancel" class="button-small">
                        </div>
                        {% if form.errors %}
                        <p class="error-mssg">
                        {% if 'old_password' in form.errors %}
                        Your Old Password Is Wrong Please Try Again.
                        {% elif 'new_password2' in form.errors %}
                        Both Password Don't Match Please Try Again
                        {%  endif %}
                        </p>
                        {% else %}
                        <p class="subtitle-text">Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                        {% endif %}
                            
                    </form>
                </article>

            </section>
            {% endblock %}